<!DOCTYPE html>
<head>
    <title>Wing Man Project</title>
    <link rel="stylesheet" href="./static/stylingFile.css">
</head>
<body>
    <h1 class="centered">The Wing Man</h1>
    <p class="centered">The perfect wingman to introduce to you great compatable mates.</p>
    
    <!--need to work on the form stuff and have it transfer to php file-->
    <form action="/i_do_not_know_yet.php">
        <table class="centered">
            <tr>
                <th>Facebook Username:</th>
            </tr>
            <tr>
                <th><input type="text" name="userName"></th>
            </tr>
            <tr>
                <th>Password:</th>
            </tr>
            <tr>
                <th><input type="text" name="passwrd"></th>
            </tr>
            <tr>
                <th><input type="submit" value="do not click on me yet"></th>
            </tr>
        </table>
    </form>
</body>